<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="caret.Validator">
      <Validator
            class="caret.validator.test.TestValidator"
            id="Test Validator"
            name="Test Validator">
      </Validator>
   </extension>
   <extension
    point="org.eclipse.ui.propertyPages">
    <page
        id="caret.validator.test.property.TestPropertyPage"
        name="Test Validation"
        class="caret.validator.test.property.TestPropertyPage">
    </page>
</extension>
</plugin>
